.body-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    grid-template: minmax(180px, 1fr) minmax(600px, 4fr) / minmax(260px, 1fr) minmax(720px, 4.5fr);
    grid-template-areas: "dashboard header" "dashboard content";
}

.body-container * {
    transition-duration: .4s;
}

.dashboard {
    grid-area: dashboard;
    background-color: rgb(118, 63, 206);
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-color: rgba(155, 145, 248, 0.6);

    display: grid;
    grid-area: header;
    grid-template: repeat(2, 1fr) / repeat(12, 1fr);
    box-shadow: grey .1rem .1rem 1rem;
}

.content {
    background-color: rgba(215, 128, 255, 0.644);
    padding: 3.5rem 2rem 3.5rem 2rem;

    display: grid;
    grid-area: content;
    grid-template: 1fr 1fr / repeat(4, 1fr);
    gap: 2rem;
    min-width: 0;
    min-height: 0;

}


/* dashboard children styling */
.dashboard>* {
    display: grid;
    padding: 1rem 1rem 50px 1rem;
    color: white;
}

/* All images except the icon beside "DASHBOARD" */
.dashboard>div:not([class=nav-header]) img {
    /* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
    filter: invert(99%) sepia(17%) saturate(0%) hue-rotate(120deg) brightness(107%) contrast(101%);
}

.nav-pages {
    grid-template-rows: repeat(6, 1fr);
}

.nav-settings {
    grid-template-rows: repeat(3, 1fr);
}

.nav-header {
    grid-template-columns: 1fr 4fr;
}

.nav-page,
.nav-setting {
    display: inherit;
    grid-template-columns: 1.5fr 4fr;
}

div[class^=nav]>p {
    place-self: center start;
    padding: .5rem;
    /* border: .5px solid black; */
}

.nav-page>div,
.nav-setting>div,
.nav-header>div {
    place-self: center center;
    padding: .5rem;
}

/* header children styling */

.header>* {
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem 1rem .5rem 1rem;
    align-items: center;

}

.header-search {
    grid-column: 1 / span 7;
    display: grid;
    grid-template-columns: 50px 1fr;

}

.header-search>div:first-child {
    padding-left: 1rem;
}

.header-search #search-bar {
    height: 50%;
    border-radius: 30px;
    padding: 1rem;
}

.header-notif {
    grid-column: span 4 / -1;
    justify-content: space-evenly;
}

.header-intro {
    grid-row: 2;
    grid-column: 1 / span 5;
    justify-content: start;
    /* gap: 1rem; */
}

.header-intro>* {
    padding: 0 1rem 0 1rem;
}

.header-intro>div+div {
    display: flex;
    flex-flow: column nowrap;
}

.header-intro>div+div p:first-child {
    font-size: 80%;
}

.header-actions {
    grid-row: 2;
    grid-column: span 5 / -1;
    justify-content: space-evenly;
    align-items: center;
}

.header-actions>* {
    border: none;
    border-radius: 30px;
    width: clamp(2%, calc(100% / 4), 120px);
    height: clamp(15px, 70%, 50px);
}

/* content children styling */
.content>* {
    background-color: white;
    position: relative;
    border-radius: 10px;
}

.content>* {
    min-height: 0;
    overflow: hidden;
}

.content>*>p {
    position: absolute;
    top: -2rem;
    left: 0;
}

/* Several methods of declaring the span size of each grid child element */
.content-projects {
    background: transparent !important;

    grid-column: 1 / span 3;
    grid-row: 1 / -1;
    display: grid;
    grid-template: repeat(auto-fit, minmax(100px, 1fr)) / repeat(2, minmax(300px, 1fr));
    gap: 2rem;
    padding: .5rem;
}

.project {
    padding: 1rem;
    border-left: 10px solid rgb(118, 63, 206);
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    position: relative;
}

.project>div:first-child {
    display: flex;
    flex-flow: column nowrap;
}


.project-links {
    position: absolute;
    bottom: 2vh;
    right: 3vw;

    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
}

.project-description {
    color: rgba(0, 0, 0, 0.6);
    height: 5.7rem;
    overflow-y: hidden;
    font-size: 1rem;
}

.content-announcements {
    grid-area: 1 / 4 / 2 / 5;
    margin-bottom: 1rem;
    min-height: 100%;
}

.content-announcements>p+div {
    padding: 0 2rem 0 2rem;
}

/* target every child element except the last */
.content-announcements>p+div>*:not(div:last-child) {
    border-bottom: 1px solid black;
}

.announcement {
    flex: 1;
    font-size: .8rem;
    padding: 1rem 0 1rem 0;

}

.content-trending {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 4 / 3 / 5;
}

.content-trending>p+div {
    display: flex;
    flex-flow: column nowrap;

}

.trending {
    display: flex;
    font-size: .8rem;
    padding: 1rem 2rem 1rem 0;
    gap: 1rem;
}

.icon-small {
    width: 1.3rem;
    height: 1.3rem;
}

.icon-standard {
    width: 2rem;
    height: 2rem;
}

.icon-big {
    width: 2.5rem;
    height: 2.5rem;
}

.header img:not([class=icon-small]) {
    filter: invert(11%) sepia(57%) saturate(6137%) hue-rotate(242deg) brightness(94%) contrast(126%);
}

.dashboard>*>*:hover,
.header-notif *:hover,
.announcement:hover {
    opacity: .4;
}

.project:hover {
    box-shadow: rgba(128, 128, 128, 0.459) 0 .4rem .1rem, rgb(118, 63, 206) -.4rem 0;
}

.trending img:hover {
    filter: invert(11%) sepia(57%) saturate(6137%) hue-rotate(242deg) brightness(94%) contrast(126%);
    box-shadow: rgba(215, 128, 255, 0.644) .1rem .1rem 1rem;
}
