.body-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    grid-template: minmax(180px, 1fr) minmax(600px, 4fr) / minmax(280px, 1fr) minmax(720px, 4fr);
    grid-template-areas: "dashboard header" "dashboard content";
}

.dashboard {
    grid-area: dashboard;
    background-color: rgba(0, 0, 255, 0.6);
    display: flex;
    flex-flow: column nowrap;
}

.header {
    grid-area: header;
    background-color: rgba(255, 255, 0, 0.6);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(12, 1fr);
}

.content {
    grid-area: content;
    background-color: rgba(255, 192, 203, 0.6);
}


/* dashboard children styling */
.dashboard>* {
    display: grid;
    padding: 1rem 1rem 50px 1rem;
    border: 2px solid grey;
    color: white;
}

.nav-pages {
    grid-template-rows: repeat(6, 1fr);
}

.nav-settings {
    grid-template-rows: repeat(3, 1fr);
}

.nav-header {
    grid-template-columns: 1fr 4fr;
}

.nav-page,
.nav-setting {
    display: inherit;
    grid-template-columns: 1fr 4fr;
}

div[class^=nav]>p {
    place-self: center start;
    border: .5px solid black;
}

.nav-page>div,
.nav-setting>div,
.nav-header>div {
    place-self: center center;
    padding: .5rem;
    border: .5px solid black;
}

/* header children styling */

.header>* {
    display: flex;
    flex-flow: row nowrap;
    border: .5px solid grey;
    padding: .5rem 1rem .5rem 1rem;
    align-items: center;

}

.header-search {
    grid-column: 1 / span 7;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 5px;
}

.header-search>div,
.header-intro>div:has(img) {
    text-align: center;
}

.header-search #search-bar {
    height: 50%;
    border-radius: 30px;
}

.header-notif {
    grid-column: span 4 / -1;
    justify-content: space-evenly;
}

.header-intro {
    grid-row: 2;
    grid-column: 1 / span 5;
    justify-content: start;
    gap: 1rem;
}

.header-intro>* {
    padding: 0 1rem 0 1rem;
    /* border: .5px solid black; */
}

.header-intro>div+div {
    display: flex;
    flex-flow: column nowrap;
}
.header-intro>div+div p:first-child {
    font-size: 80%;
}

.header-actions {
    grid-row: 2;
    grid-column: span 5 / -1;
    justify-content: space-evenly;
    align-items: center;
}

.header-actions>* {
    border: none;
    border-radius: 30px;
    width: clamp(2%, calc(100% / 4), 120px);
    height: clamp(15px, 70%, 50px);
}